install: make get-deps
compiler: clang
language: c++
dist: trusty
addons:
  sonarcloud:
    organization: "valeriam07"
    token:
      secure: "bc22448ba81f31dbb2834848e5936084c440d16a" # encrypted value of your token

script:
  # Wraps the compilation with the Build Wrapper to generate configuration (used
  # later by the SonarScanner) into the "bw-output" folder
  - build-wrapper-linux-x86-64 --out-dir bw-output <cmake-build-debug/CMakeFiles>/
  # And finally run the SonarCloud analysis - read the "sonar-project.properties"
  # file to see the specific configuration
  - sonar-scanner -Dsonar.cfamily.build-wrapper-output=bw-output

